In [79]:
import pandas as pd
pd.set_option('display.float_format', '{:,.2f}'.format)
#SETTING AND RESETTING DISPLAY OPTIONS
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')

og_df = pd.read_excel('data/CityElections_2025.xlsx')
copy_df = og_df.copy()
df = og_df.copy()

df

,ELECTION,OFFICECD,RECIPID,CANCLASS,RECIPNAME,COMMITTEE,FILING,SCHEDULE,PAGENO,SEQUENCENO,...,INTEMPSTNM,INTEMPCITY,INTEMPST,INTOCCUPA,PURPOSECD,EXEMPTCD,ADJTYPECD,RR_IND,SEG_IND,INT_C_CODE
0,2025,3,1682,P,"Rajkumar, Jenifer",I,7,ABC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,NaN
1,2025,5,2348,P,"Sanchez, Pierina A",K,6,ABC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,NaN
2,2025,2,1227,P,"Williams, Jumaane D",R,4,ABC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,NaN
3,2025,1,1164,P,"Lander, Brad",N,2,ABC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,NaN
4,2025,4,1190,P,"Richards, Donovan",O,5,ABC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85579,2025,5,2922,P,"Lewinsohn, Elizabeth",H,7,ABC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,NaN
85580,2025,5,504,P,"Ariola, Joann",M,5,ABC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,NaN
85581,2025,5,1529,UN,"Menin, Julie",L,6,ABC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,NaN
85582,2025,1,1545,P,"Adams, Eric L",N,1,ABC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,NaN
85583,2025,1,2869,P,"Huq, Md M",H,6,ABC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,NaN

In [80]:
print(df.duplicated().sum())
print(df.shape)

0
(85584, 52)

In [81]:
#CLEANING TIME
df.isnull().sum()

ELECTION          0
OFFICECD          0
RECIPID           0
CANCLASS          0
RECIPNAME         0
COMMITTEE         0
FILING            0
SCHEDULE          0
PAGENO        85584
SEQUENCENO    85584
REFNO             0
DATE             22
REFUNDDATE    84427
NAME              0
C_CODE            0
STRNO         85584
STRNAME       85584
APARTMENT     85584
BOROUGHCD       121
CITY             65
STATE           142
ZIP              91
OCCUPATION     4660
EMPNAME       13165
EMPSTRNO      19830
EMPSTRNAME    19618
EMPCITY       19291
EMPSTATE      19137
AMNT              0
MATCHAMNT         0
PREVAMNT          0
PAY_METHOD        0
INTERMNO      83545
INTERMNAME    83545
INTSTRNO      85584
INTSTRNM      85584
INTAPTNO      85584
INTCITY       83552
INTST         83552
INTZIP        83552
INTEMPNAME    83767
INTEMPSTNO    83880
INTEMPSTNM    83879
INTEMPCITY    83879
INTEMPST      83879
INTOCCUPA     83725
PURPOSECD     85421
EXEMPTCD      85579
ADJTYPECD     84427
RR_IND            0
SEG_IND         163
INT_C_CODE    83545
dtype: int64

In [82]:
# DROP UNNEEDED COLUMNS
df.drop(columns=['PAGENO', 'SEQUENCENO', 'REFNO', 'STRNO', 'STRNAME', 'APARTMENT', 'INTERMNO', 'INTERMNAME', 'INTSTRNO', 'INTSTRNM', 'INTAPTNO',
                        'INTCITY', 'INTST', 'INTZIP', 'INTEMPNAME', 'INTEMPSTNO', 'INTEMPSTNM', 'INTEMPCITY', 'INTEMPST', 'INTOCCUPA', 'EXEMPTCD', 'ADJTYPECD', 'RR_IND',
                        'SEG_IND', 'INT_C_CODE'], inplace=True)
pd.set_option('display.max_columns', None)
df

,ELECTION,OFFICECD,RECIPID,CANCLASS,RECIPNAME,COMMITTEE,FILING,SCHEDULE,DATE,REFUNDDATE,NAME,C_CODE,BOROUGHCD,CITY,STATE,ZIP,OCCUPATION,EMPNAME,EMPSTRNO,EMPSTRNAME,EMPCITY,EMPSTATE,AMNT,MATCHAMNT,PREVAMNT,PAY_METHOD,PURPOSECD
0,2025,3,1682,P,"Rajkumar, Jenifer",I,7,ABC,2025-01-03,NaT,"#NA, #Na",IND,Q,Brooklyn,NY,11101,Unemployed,NaN,NaN,NaN,NaN,NaN,250.00,0,0.00,4,NaN
1,2025,5,2348,P,"Sanchez, Pierina A",K,6,ABC,2024-10-06,NaT,"2025, Selvena",IND,Q,Rockaway Beach,NY,11693,Council Member,NYC Council,79-14,Rockaway Beach Blvd,Rockaway Beach,NY,"1,050.00",0,0.00,4,NaN
2,2025,2,1227,P,"Williams, Jumaane D",R,4,ABC,2024-01-12,NaT,32 BJ United ADF,EMPO,M,New York,NY,10011,NaN,NaN,NaN,NaN,NaN,NaN,"2,100.00",0,0.00,2,NaN
3,2025,1,1164,P,"Lander, Brad",N,2,ABC,2023-01-13,NaT,32BJ United ADF,PCOMP,M,New York,NY,10011,NaN,NaN,NaN,NaN,NaN,NaN,"2,100.00",0,0.00,2,NaN
4,2025,4,1190,P,"Richards, Donovan",O,5,ABC,2024-05-24,NaT,32BJ United ADF,PCOMP,M,New York,NY,10011,NaN,NaN,NaN,NaN,NaN,NaN,"1,600.00",0,0.00,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85579,2025,5,2922,P,"Lewinsohn, Elizabeth",H,7,ABC,2024-12-29,NaT,"Zwillinger, Rebecca",IND,M,New York,NY,10028,Homemaker,NaN,NaN,NaN,NaN,NaN,150.00,150,0.00,4,NaN
85580,2025,5,504,P,"Ariola, Joann",M,5,ABC,2024-05-18,NaT,"Zwirn, Alan",IND,Z,Boynton Beach,FL,33437,Retired,NaN,NaN,NaN,NaN,NaN,25.00,0,0.00,4,NaN
85581,2025,5,1529,UN,"Menin, Julie",L,6,ABC,2024-09-04,NaT,"Zylberberg, David",IND,M,New York,NY,10128,Attorney,Simpson Thacher & Bartlett LLP,425,Lexington Avenue,New York,NY,10.00,0,0.00,4,NaN
85582,2025,1,1545,P,"Adams, Eric L",N,1,ABC,2022-04-01,NaT,"Zyscovich, Bernard",IND,Z,Miami,FL,33132,Architect,Zyscovich-Owner,100,Biscayne Blvd,Miami,FL,400.00,0,0.00,4,NaN
85583,2025,1,2869,P,"Huq, Md M",H,6,ABC,2024-07-15,NaT,"Zzaman, Molla",IND,Q,Jamaica,NY,11432,Financial professional,Self-Employed,85-02,169 streetNy,Jamaica,NY,10.00,10,0.00,4,NaN

In [83]:
# Ocurrences of each type of donation
#occurrences = df['C_CODE'].value_counts()
#occurrences

In [84]:
# Filter out in-kind contributions
copy_df = df[df['PURPOSECD'].isna()]
print(copy_df.shape)

(85421, 27)

In [87]:
def smallOrLargeDonation(row):
    amt = row['AMNT']
    if amt <= 175:
        return 'Small'
    elif amt <= 999:
        return 'Medium'
    else:
        return 'Large'

copy_df['Contribution Size'] = copy_df.apply(smallOrLargeDonation, axis=1)
pd.reset_option('display.max_columns')
copy_df

C:\Users\tisse\AppData\Local\Temp\ipykernel_24320\3716197364.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  copy_df['Contribution Size'] = copy_df.apply(smallOrLargeDonation, axis=1)

,ELECTION,OFFICECD,RECIPID,CANCLASS,RECIPNAME,COMMITTEE,FILING,SCHEDULE,DATE,REFUNDDATE,...,EMPSTRNO,EMPSTRNAME,EMPCITY,EMPSTATE,AMNT,MATCHAMNT,PREVAMNT,PAY_METHOD,PURPOSECD,Contribution Size
0,2025,3,1682,P,"Rajkumar, Jenifer",I,7,ABC,2025-01-03,NaT,...,NaN,NaN,NaN,NaN,250.00,0,0.00,4,NaN,Medium
1,2025,5,2348,P,"Sanchez, Pierina A",K,6,ABC,2024-10-06,NaT,...,79-14,Rockaway Beach Blvd,Rockaway Beach,NY,"1,050.00",0,0.00,4,NaN,Large
2,2025,2,1227,P,"Williams, Jumaane D",R,4,ABC,2024-01-12,NaT,...,NaN,NaN,NaN,NaN,"2,100.00",0,0.00,2,NaN,Large
3,2025,1,1164,P,"Lander, Brad",N,2,ABC,2023-01-13,NaT,...,NaN,NaN,NaN,NaN,"2,100.00",0,0.00,2,NaN,Large
4,2025,4,1190,P,"Richards, Donovan",O,5,ABC,2024-05-24,NaT,...,NaN,NaN,NaN,NaN,"1,600.00",0,0.00,2,NaN,Large
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85579,2025,5,2922,P,"Lewinsohn, Elizabeth",H,7,ABC,2024-12-29,NaT,...,NaN,NaN,NaN,NaN,150.00,150,0.00,4,NaN,Small
85580,2025,5,504,P,"Ariola, Joann",M,5,ABC,2024-05-18,NaT,...,NaN,NaN,NaN,NaN,25.00,0,0.00,4,NaN,Small
85581,2025,5,1529,UN,"Menin, Julie",L,6,ABC,2024-09-04,NaT,...,425,Lexington Avenue,New York,NY,10.00,0,0.00,4,NaN,Small
85582,2025,1,1545,P,"Adams, Eric L",N,1,ABC,2022-04-01,NaT,...,100,Biscayne Blvd,Miami,FL,400.00,0,0.00,4,NaN,Medium
85583,2025,1,2869,P,"Huq, Md M",H,6,ABC,2024-07-15,NaT,...,85-02,169 streetNy,Jamaica,NY,10.00,10,0.00,4,NaN,Small

In [88]:
# SELECTING AND FILTERING
cond1 = copy_df['OFFICECD'] == 5
#pd.set_option('display.max_rows', None)
gb_cols = ['RECIPNAME', 'NAME']
copy_df = copy_df[cond1]
print(copy_df.shape)
#copy_df.sort_values('AMNT', ascending=False).groupby(gb_cols)['AMNT'].sum()
#city_council_totals = df[cond1].groupby('RECIPNAME')['AMNT'].sum()
#print(city_council_totals.sort_values(ascending=False))
copy_df

(29161, 28)

,ELECTION,OFFICECD,RECIPID,CANCLASS,RECIPNAME,COMMITTEE,FILING,SCHEDULE,DATE,REFUNDDATE,...,EMPSTRNO,EMPSTRNAME,EMPCITY,EMPSTATE,AMNT,MATCHAMNT,PREVAMNT,PAY_METHOD,PURPOSECD,Contribution Size
1,2025,5,2348,P,"Sanchez, Pierina A",K,6,ABC,2024-10-06,NaT,...,79-14,Rockaway Beach Blvd,Rockaway Beach,NY,"1,050.00",0,0.00,4,NaN,Large
5,2025,5,1529,UN,"Menin, Julie",L,5,ABC,2024-07-11,NaT,...,NaN,NaN,NaN,NaN,"1,600.00",0,0.00,2,NaN,Large
7,2025,5,1624,UN,"Brooks-Powers, Selvena",L,5,ABC,2024-06-13,NaT,...,NaN,NaN,NaN,NaN,"1,050.00",0,0.00,2,NaN,Large
9,2025,5,2243,P,"Abreu, Shaun",K,5,ABC,2024-07-11,NaT,...,NaN,NaN,NaN,NaN,"1,050.00",0,0.00,2,NaN,Large
14,2025,5,2892,P,"Ortiz, Antirson R",H,7,ABC,2024-11-24,NaT,...,459,Cross Bronx Expressway,The Bronx,NY,15.00,15,0.00,4,NaN,Small
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85566,2025,5,1529,UN,"Menin, Julie",L,5,ABC,2024-07-11,NaT,...,NaN,NaN,NaN,NaN,100.00,0,0.00,4,NaN,Small
85578,2025,5,2922,P,"Lewinsohn, Elizabeth",H,7,ABC,2024-12-27,NaT,...,575,5th Avenue,New York,NY,150.00,150,0.00,4,NaN,Small
85579,2025,5,2922,P,"Lewinsohn, Elizabeth",H,7,ABC,2024-12-29,NaT,...,NaN,NaN,NaN,NaN,150.00,150,0.00,4,NaN,Small
85580,2025,5,504,P,"Ariola, Joann",M,5,ABC,2024-05-18,NaT,...,NaN,NaN,NaN,NaN,25.00,0,0.00,4,NaN,Small
85581,2025,5,1529,UN,"Menin, Julie",L,6,ABC,2024-09-04,NaT,...,425,Lexington Avenue,New York,NY,10.00,0,0.00,4,NaN,Small

In [93]:
# CONTRIBUTION SIZE DISTRIBUTION - Small, Medium, Large
gb_cols = ['RECIPNAME', 'RECIPID']

#copy_df.sort_values('AMNT', ascending=False).groupby(gb_cols)['AMNT'].sum()
#city_council_totals = df[cond1].groupby('RECIPNAME')['AMNT'].sum()
#print(city_council_totals.sort_values(ascending=False))
pd.set_option('display.max_rows', None)
test = copy_df.groupby(gb_cols)['Contribution Size'].value_counts()
test

RECIPNAME                     RECIPID  Contribution Size
Abreu, Shaun                  2243     Small                355
                                       Medium                95
                                       Large                 33
Alayeto, Clarisa              2886     Small                279
                                       Medium                18
Aldebol, Shirley              2902     Small                 78
                                       Medium                11
                                       Large                  3
Ariola, Joann                 504      Small                259
                                       Medium                51
                                       Large                 12
Arnwine, Dante                2880     Small                128
                                       Medium                 6
                                       Large                  5
Aronson, Vanessa T            2047     Small                390
                                       Medium                47
                                       Large                 10
Ashiq, Abubakar               2906     Small                  9
Ashman, Dion M                2839     Small                270
                                       Medium                25
Aulbach-Sidibe, Daniel K      2837     Small                101
                                       Medium                21
                                       Large                  5
Aviles, Alexa                 2306     Small                247
                                       Medium                10
                                       Large                  2
Banks, Christopher            1683     Medium                 2
                                       Small                  1
Batchu, Sarah L               2835     Small                788
                                       Medium                77
                                       Large                 13
Batista, Anthony              2757     Small                 17
Blas, Sarah                   2891     Small                146
                                       Medium                 4
Bondy, Faith                  2863     Small                210
                                       Medium                53
                                       Large                 15
Bottcher, Erik                2312     Small                334
                                       Medium                55
                                       Large                 21
Brewer, Gale                  399      Large                  1
                                       Medium                 1
                                       Small                  1
Brooks-Powers, Selvena        1624     Small                223
                                       Medium               175
                                       Large                 38
Caban, Tiffany                2436     Small                440
                                       Medium                22
                                       Large                 11
Cabrera, Fernando L           1256     Small                323
                                       Medium                17
                                       Large                  1
Carr, David M                 2382     Small                119
                                       Medium                47
                                       Large                  6
Carter-Williams, Jozette      2896     Small                 98
                                       Medium                 7
Caruso, Alexander             2885     Small                105
                                       Medium                 1
Coleman, Jess K               2874     Small                240
                                       Medium                24
                                       Large                 14
Cunningham, Bianca            2935     Small                  1
Daniels, Vera V               2865     Small                138
                                       Medium                 3
De La Rosa, Carmen            2349     Small                267
                                       Medium                15
                                       Large                  5
Diakhate, Abou S              2581     Small                104
                                       Large                  1
                                       Medium                 1
Diaz, David A                 2900     Small                 97
                                       Large                  2
                                       Medium                 1
Dinowitz, Eric                2192     Small                125
                                       Medium                67
                                       Large                 22
El-Gamasy, Hatem              2905     Small                 28
Encarnacion, Elsie R          2843     Small                292
                                       Medium                31
                                       Large                  3
Epstein, Harvey D             2860     Small                671
                                       Medium                56
                                       Large                  6
Farias, Amanda                1945     Small                204
                                       Medium                58
                                       Large                 16
Feliz, Oswald                 2311     Small                 81
                                       Medium                12
                                       Large                  3
Florczak, Lukas               2852     Small                 64
                                       Medium                 4
Flores, Louis                 2853     Small                  8
Frias, Ramses                 2926     Small                 10
Gennaro, James F              283      Medium                18
                                       Large                 17
                                       Small                  7
Gibbs, Edward                 878      Small                 57
                                       Medium                 5
                                       Large                  4
Gordillo, Andrea              2846     Small                675
                                       Medium                57
                                       Large                  7
Gutierrez, Jennifer           2357     Small                 79
                                       Medium                12
                                       Large                  1
Hanif, Shahana                2256     Small                841
                                       Medium                49
                                       Large                 11
Hankerson, Tyrell D           2867     Small                281
                                       Medium                19
Hanks, Kamillah M             1996     Small                152
                                       Medium                72
                                       Large                 40
Haque, Shah S                 2738     Small                118
Henderson, Jamell             2015     Small                 14
Henriquez, Yanna M            2888     Small                175
                                       Medium                 6
                                       Large                  1
Herbert-Guggenheim, Danielle  2927     Small                135
                                       Medium                 6
                                       Large                  1
Hitlall, Romeo                2844     Small                217
                                       Medium                30
                                       Large                  5
Hodge Vasquez, Bryan          2666     Small                270
                                       Medium                11
Horowitz, Jeffrey             2921     Medium                 1
Hudson, Crystal               2267     Small                297
                                       Medium                80
                                       Large                 14
Joseph, Rita C                2246     Small                415
                                       Medium                99
                                       Large                  9
Joseph, Shakur T              2895     Small                 39
                                       Medium                 4
Khan, Tiffany                 2933     Small                 36
                                       Medium                 1
Kornberg, Maya                2876     Small                366
                                       Medium                37
                                       Large                 22
Krishnan, Shekar              2206     Small                225
                                       Medium                38
                                       Large                 19
LeGrand, Latoya               2851     Small                196
                                       Medium                 9
                                       Large                  1
Lee, Linda                    2453     Small                125
                                       Medium                19
                                       Large                  3
Lewinsohn, Elizabeth          2922     Large                113
                                       Small                 43
                                       Medium                32
Lopez, Wilfredo               2850     Small                245
                                       Medium                12
                                       Large                 10
Louis, Farah                  2207     Small                152
                                       Medium                33
                                       Large                  6
Lynch, Lawman                 2845     Small                158
                                       Medium                 4
Maloney, Virginia             2909     Small                411
                                       Medium                87
                                       Large                 15
Marmorato, Kristy             2763     Small                 70
                                       Medium                 8
Marte, Christopher            1987     Small                677
                                       Medium                93
                                       Large                 14
Mealy, Darlene                846      Small                185
                                       Medium                 5
                                       Large                  2
Menin, Julie                  1529     Small                408
                                       Medium               320
                                       Large                240
Monserrate, Hiram             272      Small                345
                                       Medium                16
                                       Large                  3
Montoya, Erycka               2121     Small                342
                                       Medium                 7
Murillo, Jason C              2856     Small                 26
Narcisse, Mercedes            1159     Small                352
                                       Medium               132
                                       Large                 18
Navarro, Sandro S             2893     Small                206
                                       Medium                 2
Nurse, Sandy                  2310     Small                141
                                       Medium                 5
                                       Large                  1
Okporo, Edafe                 2836     Small                597
                                       Medium                22
                                       Large                  3
Ortiz, Antirson R             2892     Small                233
                                       Medium                 6
Osse, Chi                     2371     Small                696
                                       Medium                23
                                       Large                  3
Pacheco, Ricardo J            2750     Small                161
                                       Medium                 4
Paladino, Vickie              2384     Small                149
                                       Medium                59
                                       Large                 22
Perez Jr., Freddy             2847     Small                314
                                       Medium                27
                                       Large                  5
Pieters, Austin               2872     Medium                37
                                       Small                  5
Pogozelski, Paul J            2913     Small                132
                                       Medium                 7
Qiu, Helen J                  2789     Small                  5
Quero, Luis E                 2929     Small                 18
                                       Medium                 2
Reets-DuPont, Theona S        2916     Small                  9
Restler, Lincoln              2455     Small                235
                                       Medium                70
                                       Large                 31
Reyes, Nicholas               2910     Medium                 1
                                       Small                  1
Riley, Kevin C                2327     Small                168
                                       Medium                37
                                       Large                  7
Rinaldi, Jonathan D           2786     Large                  1
                                       Small                  1
Robertson, Hector             2367     Small                195
                                       Medium                 2
Romeo, Dominick               2904     Small                  7
                                       Medium                 6
Ryan, Allison L               2622     Small                 96
                                       Medium                 5
Saghir, Luke P                2887     Small                  1
Salaam, Yusef                 2756     Small                200
                                       Medium                19
                                       Large                  1
Sanchez, Elizabeth            2919     Small                 16
Sanchez, Justin E             2029     Small                340
                                       Medium                29
                                       Large                  5
Sanchez, Pierina A            2348     Small                582
                                       Medium                77
                                       Large                 13
Santana, Elvis                2057     Small                281
                                       Medium                25
Santosuosso, Kayla            2918     Small                304
                                       Medium                45
                                       Large                  4
Schargel, Gail                2928     Medium                 1
Schulman, Lynn                433      Small                274
                                       Medium                94
                                       Large                 19
Singh, Japneet                2639     Small                356
                                       Medium                12
Smyth, Dermot                 2871     Small                226
                                       Medium                61
                                       Large                 30
Stevens, Althea V             2259     Small                 65
                                       Medium                13
                                       Large                  3
Storch, Rachel                2859     Medium               276
                                       Small                230
                                       Large                132
Thomas-Henry, Shanel          2923     Small                268
                                       Medium                52
                                       Large                  7
Thompson, Jammel A            2889     Small                  2
Tischler, Harold              2183     Small                209
                                       Medium                 5
Ung, Sandra                   2343     Small                145
                                       Medium               106
                                       Large                 16
Uribe, Jasmine                2907     Small                  2
                                       Medium                 1
Vaichunas, Alicia B           2940     Small                195
                                       Medium                 6
Vernikov, Inna                2423     Small                 57
                                       Medium                11
Weiner, Anthony               BB       Small                109
                                       Medium                25
                                       Large                  7
Wetzler, Benjamin D           2848     Small                330
                                       Medium                26
                                       Large                  8
Willabus, Dimple              2274     Small                191
                                       Medium                26
Williams, Nantasha            2285     Small                148
                                       Medium                44
                                       Large                  6
Won, Julie                    2380     Small                169
                                       Large                 22
                                       Medium                21
Ye, Ling                      2937     Small                315
                                       Large                  5
                                       Medium                 3
Yu, Eric                      2938     Small                  5
                                       Large                  1
                                       Medium                 1
Zayas, Evette                 2944     Small                  4
Zhuang, Susan                 2758     Small                502
                                       Medium                64
                                       Large                  8
Name: Contribution Size, dtype: int64

In [101]:
def smallAndTotalCount(row):
    sdaf

grouped = copy_df.groupby(gb_cols)['Contribution Size'].apply(
    lambda x: (x == "Small").sum()
).reset_index(name="Small_Count")

val_counts = copy_df['Contribution Size'].value_counts()
total_counts = val_counts.sum()
grouped['Total'] = total_counts
grouped['Small Percentage'] = (grouped['Small_Count'] / total_counts) * 100
grouped
#test = copy_df.groupby(gb_cols)['Contribution Size'].value_counts()

,RECIPNAME,RECIPID,Small_Count,Total,Small Percentage
0,"Abreu, Shaun",2243,355,29161,1.22
1,"Alayeto, Clarisa",2886,279,29161,0.96
2,"Aldebol, Shirley",2902,78,29161,0.27
3,"Ariola, Joann",504,259,29161,0.89
4,"Arnwine, Dante",2880,128,29161,0.44
5,"Aronson, Vanessa T",2047,390,29161,1.34
6,"Ashiq, Abubakar",2906,9,29161,0.03
7,"Ashman, Dion M",2839,270,29161,0.93
8,"Aulbach-Sidibe, Daniel K",2837,101,29161,0.35
9,"Aviles, Alexa",2306,247,29161,0.85
10,"Banks, Christopher",1683,1,29161,0.00
11,"Batchu, Sarah L",2835,788,29161,2.70
12,"Batista, Anthony",2757,17,29161,0.06
13,"Blas, Sarah",2891,146,29161,0.50
14,"Bondy, Faith",2863,210,29161,0.72
15,"Bottcher, Erik",2312,334,29161,1.15
16,"Brewer, Gale",399,1,29161,0.00
17,"Brooks-Powers, Selvena",1624,223,29161,0.76
18,"Caban, Tiffany",2436,440,29161,1.51
19,"Cabrera, Fernando L",1256,323,29161,1.11
20,"Carr, David M",2382,119,29161,0.41
21,"Carter-Williams, Jozette",2896,98,29161,0.34
22,"Caruso, Alexander",2885,105,29161,0.36
23,"Coleman, Jess K",2874,240,29161,0.82
24,"Cunningham, Bianca",2935,1,29161,0.00
25,"Daniels, Vera V",2865,138,29161,0.47
26,"De La Rosa, Carmen",2349,267,29161,0.92
27,"Diakhate, Abou S",2581,104,29161,0.36
28,"Diaz, David A",2900,97,29161,0.33
29,"Dinowitz, Eric",2192,125,29161,0.43
30,"El-Gamasy, Hatem",2905,28,29161,0.10
31,"Encarnacion, Elsie R",2843,292,29161,1.00
32,"Epstein, Harvey D",2860,671,29161,2.30
33,"Farias, Amanda",1945,204,29161,0.70
34,"Feliz, Oswald",2311,81,29161,0.28
35,"Florczak, Lukas",2852,64,29161,0.22
36,"Flores, Louis",2853,8,29161,0.03
37,"Frias, Ramses",2926,10,29161,0.03
38,"Gennaro, James F",283,7,29161,0.02
39,"Gibbs, Edward",878,57,29161,0.20
40,"Gordillo, Andrea",2846,675,29161,2.31
41,"Gutierrez, Jennifer",2357,79,29161,0.27
42,"Hanif, Shahana",2256,841,29161,2.88
43,"Hankerson, Tyrell D",2867,281,29161,0.96
44,"Hanks, Kamillah M",1996,152,29161,0.52
45,"Haque, Shah S",2738,118,29161,0.40
46,"Henderson, Jamell",2015,14,29161,0.05
47,"Henriquez, Yanna M",2888,175,29161,0.60
48,"Herbert-Guggenheim, Danielle",2927,135,29161,0.46
49,"Hitlall, Romeo",2844,217,29161,0.74
50,"Hodge Vasquez, Bryan",2666,270,29161,0.93
51,"Horowitz, Jeffrey",2921,0,29161,0.00
52,"Hudson, Crystal",2267,297,29161,1.02
53,"Joseph, Rita C",2246,415,29161,1.42
54,"Joseph, Shakur T",2895,39,29161,0.13
55,"Khan, Tiffany",2933,36,29161,0.12
56,"Kornberg, Maya",2876,366,29161,1.26
57,"Krishnan, Shekar",2206,225,29161,0.77
58,"LeGrand, Latoya",2851,196,29161,0.67
59,"Lee, Linda",2453,125,29161,0.43
60,"Lewinsohn, Elizabeth",2922,43,29161,0.15
61,"Lopez, Wilfredo",2850,245,29161,0.84
62,"Louis, Farah",2207,152,29161,0.52
63,"Lynch, Lawman",2845,158,29161,0.54
64,"Maloney, Virginia",2909,411,29161,1.41
65,"Marmorato, Kristy",2763,70,29161,0.24
66,"Marte, Christopher",1987,677,29161,2.32
67,"Mealy, Darlene",846,185,29161,0.63
68,"Menin, Julie",1529,408,29161,1.40
69,"Monserrate, Hiram",272,345,29161,1.18
70,"Montoya, Erycka",2121,342,29161,1.17
71,"Murillo, Jason C",2856,26,29161,0.09
72,"Narcisse, Mercedes",1159,352,29161,1.21
73,"Navarro, Sandro S",2893,206,29161,0.71
74,"Nurse, Sandy",2310,141,29161,0.48
75,"Okporo, Edafe",2836,597,29161,2.05
76,"Ortiz, Antirson R",2892,233,29161,0.80
77,"Osse, Chi",2371,696,29161,2.39
78,"Pacheco, Ricardo J",2750,161,29161,0.55
79,"Paladino, Vickie",2384,149,29161,0.51
80,"Perez Jr., Freddy",2847,314,29161,1.08
81,"Pieters, Austin",2872,5,29161,0.02
82,"Pogozelski, Paul J",2913,132,29161,0.45
83,"Qiu, Helen J",2789,5,29161,0.02
84,"Quero, Luis E",2929,18,29161,0.06
85,"Reets-DuPont, Theona S",2916,9,29161,0.03
86,"Restler, Lincoln",2455,235,29161,0.81
87,"Reyes, Nicholas",2910,1,29161,0.00
88,"Riley, Kevin C",2327,168,29161,0.58
89,"Rinaldi, Jonathan D",2786,1,29161,0.00
90,"Robertson, Hector",2367,195,29161,0.67
91,"Romeo, Dominick",2904,7,29161,0.02
92,"Ryan, Allison L",2622,96,29161,0.33
93,"Saghir, Luke P",2887,1,29161,0.00
94,"Salaam, Yusef",2756,200,29161,0.69
95,"Sanchez, Elizabeth",2919,16,29161,0.05
96,"Sanchez, Justin E",2029,340,29161,1.17
97,"Sanchez, Pierina A",2348,582,29161,2.00
98,"Santana, Elvis",2057,281,29161,0.96
99,"Santosuosso, Kayla",2918,304,29161,1.04
100,"Schargel, Gail",2928,0,29161,0.00
101,"Schulman, Lynn",433,274,29161,0.94
102,"Singh, Japneet",2639,356,29161,1.22
103,"Smyth, Dermot",2871,226,29161,0.78
104,"Stevens, Althea V",2259,65,29161,0.22
105,"Storch, Rachel",2859,230,29161,0.79
106,"Thomas-Henry, Shanel",2923,268,29161,0.92
107,"Thompson, Jammel A",2889,2,29161,0.01
108,"Tischler, Harold",2183,209,29161,0.72
109,"Ung, Sandra",2343,145,29161,0.50
110,"Uribe, Jasmine",2907,2,29161,0.01
111,"Vaichunas, Alicia B",2940,195,29161,0.67
112,"Vernikov, Inna",2423,57,29161,0.20
113,"Weiner, Anthony",BB,109,29161,0.37
114,"Wetzler, Benjamin D",2848,330,29161,1.13
115,"Willabus, Dimple",2274,191,29161,0.65
116,"Williams, Nantasha",2285,148,29161,0.51
117,"Won, Julie",2380,169,29161,0.58
118,"Ye, Ling",2937,315,29161,1.08
119,"Yu, Eric",2938,5,29161,0.02
120,"Zayas, Evette",2944,4,29161,0.01
121,"Zhuang, Susan",2758,502,29161,1.72