In [1]:
import pandas as pd
pd.set_option('display.float_format', '{:,.2f}'.format)
#SETTING AND RESETTING DISPLAY OPTIONS
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.reset_option('display.max_rows')
#pd.reset_option('display.max_columns')

og_df = pd.read_excel('data/CityElections_2025.xlsx')
copy_df = og_df.copy()
df = og_df.copy()

df

,ELECTION,OFFICECD,RECIPID,CANCLASS,RECIPNAME,COMMITTEE,FILING,SCHEDULE,PAGENO,SEQUENCENO,REFNO,DATE,REFUNDDATE,NAME,C_CODE,STRNO,STRNAME,APARTMENT,BOROUGHCD,CITY,STATE,ZIP,OCCUPATION,EMPNAME,EMPSTRNO,EMPSTRNAME,EMPCITY,EMPSTATE,AMNT,MATCHAMNT,PREVAMNT,PAY_METHOD,INTERMNO,INTERMNAME,INTSTRNO,INTSTRNM,INTAPTNO,INTCITY,INTST,INTZIP,INTEMPNAME,INTEMPSTNO,INTEMPSTNM,INTEMPCITY,INTEMPST,INTOCCUPA,PURPOSECD,EXEMPTCD,ADJTYPECD,RR_IND,SEG_IND,INT_C_CODE
0,2025,3,1682,P,"Rajkumar, Jenifer",I,7,ABC,NaN,NaN,R0003944,2025-01-03,NaT,"#NA, #Na",IND,NaN,NaN,NaN,Q,Brooklyn,NY,11101,Unemployed,NaN,NaN,NaN,NaN,NaN,250.00,0,0.00,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,NaN
1,2025,5,2348,P,"Sanchez, Pierina A",K,6,ABC,NaN,NaN,R0014053,2024-10-06,NaT,"2025, Selvena",IND,NaN,NaN,NaN,Q,Rockaway Beach,NY,11693,Council Member,NYC Council,79-14,Rockaway Beach Blvd,Rockaway Beach,NY,"1,050.00",0,0.00,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,NaN
2,2025,2,1227,P,"Williams, Jumaane D",R,4,ABC,NaN,NaN,R0040574,2024-01-12,NaT,32 BJ United ADF,EMPO,NaN,NaN,NaN,M,New York,NY,10011,NaN,NaN,NaN,NaN,NaN,NaN,"2,100.00",0,0.00,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,NaN
3,2025,1,1164,P,"Lander, Brad",N,2,ABC,NaN,NaN,R0064837,2023-01-13,NaT,32BJ United ADF,PCOMP,NaN,NaN,NaN,M,New York,NY,10011,NaN,NaN,NaN,NaN,NaN,NaN,"2,100.00",0,0.00,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,NaN
4,2025,4,1190,P,"Richards, Donovan",O,5,ABC,NaN,NaN,R0023969,2024-05-24,NaT,32BJ United ADF,PCOMP,NaN,NaN,NaN,M,New York,NY,10011,NaN,NaN,NaN,NaN,NaN,NaN,"1,600.00",0,0.00,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85579,2025,5,2922,P,"Lewinsohn, Elizabeth",H,7,ABC,NaN,NaN,R0000411,2024-12-29,NaT,"Zwillinger, Rebecca",IND,NaN,NaN,NaN,M,New York,NY,10028,Homemaker,NaN,NaN,NaN,NaN,NaN,150.00,150,0.00,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,NaN
85580,2025,5,504,P,"Ariola, Joann",M,5,ABC,NaN,NaN,R0008433,2024-05-18,NaT,"Zwirn, Alan",IND,NaN,NaN,NaN,Z,Boynton Beach,FL,33437,Retired,NaN,NaN,NaN,NaN,NaN,25.00,0,0.00,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,NaN
85581,2025,5,1529,UN,"Menin, Julie",L,6,ABC,NaN,NaN,R0007840,2024-09-04,NaT,"Zylberberg, David",IND,NaN,NaN,NaN,M,New York,NY,10128,Attorney,Simpson Thacher & Bartlett LLP,425,Lexington Avenue,New York,NY,10.00,0,0.00,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,NaN
85582,2025,1,1545,P,"Adams, Eric L",N,1,ABC,NaN,NaN,R0080101,2022-04-01,NaT,"Zyscovich, Bernard",IND,NaN,NaN,NaN,Z,Miami,FL,33132,Architect,Zyscovich-Owner,100,Biscayne Blvd,Miami,FL,400.00,0,0.00,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,NaN
85583,2025,1,2869,P,"Huq, Md M",H,6,ABC,NaN,NaN,R0000025,2024-07-15,NaT,"Zzaman, Molla",IND,NaN,NaN,NaN,Q,Jamaica,NY,11432,Financial professional,Self-Employed,85-02,169 streetNy,Jamaica,NY,10.00,10,0.00,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,NaN

In [2]:
#CLEANING TIME
df.isnull().sum()

ELECTION          0
OFFICECD          0
RECIPID           0
CANCLASS          0
RECIPNAME         0
COMMITTEE         0
FILING            0
SCHEDULE          0
PAGENO        85584
SEQUENCENO    85584
REFNO             0
DATE             22
REFUNDDATE    84427
NAME              0
C_CODE            0
STRNO         85584
STRNAME       85584
APARTMENT     85584
BOROUGHCD       121
CITY             65
STATE           142
ZIP              91
OCCUPATION     4660
EMPNAME       13165
EMPSTRNO      19830
EMPSTRNAME    19618
EMPCITY       19291
EMPSTATE      19137
AMNT              0
MATCHAMNT         0
PREVAMNT          0
PAY_METHOD        0
INTERMNO      83545
INTERMNAME    83545
INTSTRNO      85584
INTSTRNM      85584
INTAPTNO      85584
INTCITY       83552
INTST         83552
INTZIP        83552
INTEMPNAME    83767
INTEMPSTNO    83880
INTEMPSTNM    83879
INTEMPCITY    83879
INTEMPST      83879
INTOCCUPA     83725
PURPOSECD     85421
EXEMPTCD      85579
ADJTYPECD     84427
RR_IND            0
SEG_IND         163
INT_C_CODE    83545
dtype: int64

In [3]:
print(df.duplicated().sum())

0